$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  background-color: $primary-color;
}

.derpBody {
  background-color: $primary-color;
}

@import 'panel';

