/*nav > ul > li {
  display: inline;
}

header {
  border: 2px solid black;
  position: fixed;
  width: 88.5%;
}

header {
  background-color: #FFB4B0;
  border: 2px solid black;
}*/

.row{
    overflow: hidden; 
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

[class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.leftpanel {
  border: 2px solid black;
  background-color: #4DD7FA;
  line-height: 200%;
  padding: 10px;
}

select {
  width: 93%;
}

  .leftcheck {
    float: left;
  }

.filterbutton {
  width: 90px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #E6E6E6;
  border-color: black;
}
/*
label > div {
  line-height: 20%;
}
*/
.rightpanel {
  border: 2px solid black;
  background-color: #FEFAC0;
  margin-left: 30px;
  padding: 10px 20px 20px 20px;
  line-height: 15%;
  width: 100%;
  
  }

article section:nth-child(2n+1) {
  background-color: #F5FFFA;
}

article section:nth-child(2n+0) {
  background-color: #FFF5EE;
}

.albumName {
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 15px;
  padding-right: 15px;
}

article {
  display: inline-block;
  vertical-align: top;
}

/*.inline {
  margin-top: 50px;
  display: flex;
}*/

h2 {
  line-height: 20px;
}

h3{
  padding: 20px 0px 0px 0px;
  line-height: 0px;
}

h3:first-of-type {
  padding:0px 0px 0px 0px;
}

h4 {
  line-height: 60px;
}

span:nth-of-type(odd) {
  padding-right: 10px;
}

span:nth-of-type(even) {
  padding: 0px 10px 0px 10px;
  border-left: 1px solid black;
}

.wrapper {
  width: 90%;
  min-width: 40em;
  font-family: arial;
}

#container > div:nth-child(odd){
  background-color: #F5FFFA
}

#container > div:nth-child(even){
  background-color: #FFF5EE;
}
